<div class="navbar" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="{{ url_for('index') }}">Главная страница</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('register') }}">Регистрация</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('index') }}">Пользователь</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('login') }}">Войти</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('index') }}">Админка</a>
    </li>
  </ul>
</div>