
* {
	margin:0pt;
	padding:0pt;
}

body {
	background:#aeb8d3;
}

a {
	color:#1b1e73;
	text-decoration:none;
}




h1 {
	margin:43px 0 0 0px;
	padding:0px 0 0 70px;
	background:url(images/logo.png) left top no-repeat;
	font-size:60px;
	color:#1b1e73;
}

.navbar {
	font-size:200%;
	text-align: left;
	padding:10px 0 0 70px;
}

ul li {
	display: inline;
	margin:0 10px 0 0;
	font-size: 60%;
}

.search {
	text-align: left;
	padding:10px 0 0 70px;
}


.weather {
	float: right;
	text-align: left;
	margin:43px 86px 43px 0px;
	font-size:15px;
	color:#1b1e73;
}

.news {
	float: left;
	text-align: left;
	margin:43px 0 0 43px;
	padding:0px 0 0 70px;
	font-size:15px;
	color:#1b1e73;
}

p {
	font-size:70%;
}

.login_form {
	float: left;
	text-align: left;
	margin:43px 0 0 0;
	padding:0px 0 0 70px;
	font-size:15px;
	color:#1b1e73;
}

.reg_form {
	float: left;
	text-align: left;
	margin:43px 0 0 0;
	padding:0px 0 0 70px;
	font-size:15px;
	color:#1b1e73;
}

.alert-warning {
	float: left;
	text-align: left;
	margin:0 43px 0 0;
	padding:0px 0 0 70px;
	background:#a56e6e;
	color:#731b1b;
}

.admin {
	float: left;
	text-align: left;
	margin:43px 0 0 0;
	padding:0px 0 0 70px;
	font-size:15px;
	color:#1b1e73;
}

.user_home {
	float: left;
	text-align: left;
	margin:43px 0 0 0;
	padding:0px 0 0 70px;
	font-size:15px;
	color:#1b1e73;
}